.header {
  backdrop-filter: blur(8px);
  width: 100%;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: var(--zIndex-1);
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 61.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
}

.nav__logo {
  width: 52px;
  height: 50px;
  object-fit: contain;
}

.nav__links {
  display: flex;
}

.links__item {
  margin-right: 20px;
  text-decoration: none;
  line-height: 0;
}

.nav__cv {
  color: #3d3b3b;
  margin: 0;
  font-size: 0.7em;
}

@media screen and (max-width: 992px) {
  .nav__links {
    display: none;
  }
}
