@import "./GlobalStyles.css";
@import "./header.css";
@import "./homeSection.css";

.main {
  min-height: 100vh;
  background-color: #f3f4f6;
}

.main__animation {
  animation: fadein 2s;
}

.line {
  border-left: 1px solid transparent;
  height: 90px;
  margin: 0 auto;
  margin-top: 0px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
