@import "./GlobalStyles.css";
@import "./header.css";
@import "./homeSection.css";
@import "./projects.css";
@import "./contact.css";

.main {
  min-height: 100vh;
  background-color: #f3f4f6;
}

.main__animation {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
